<!doctype html>
<html lang="en">
	<head>
    <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% load static %}
		<link rel="shortcut icon" href= {% static 'csun_calendar/images/csun.png' %} type="image/png"/>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ropa+Sans">

		<title>Welcome! CSUN Computer Science Course Planner</title>

		<style>
			p {
				font-family: 'Ropa Sans', sans-serif;
			}
		</style>
	</head>
	<body>
        <header class="w3-container w3-red">
            <h1 style = "font-family: 'Ropa Sans', sans-serif; display: inline-block;">Dashboard - Welcome,  <span class = 'w3-wide' style = "font-style: italic">{{request.session.user.first_name}}</span></h1>
            <form style = "margin-top: 20px; float: right; vertical-align: top" action = '/logout'> 
                <input class = "w3-btn w3-black" type = "submit" value = "Log Out">
            </form>            

            <form style = "margin-top: 20px; margin-right: 10px; float: right; vertical-align: top" action = '/gpa'> 
                <input class = "w3-btn w3-black" type = "submit" value = "GPA">
            </form>

            <form style = "margin-top: 20px; margin-right: 10px; float: right; vertical-align: top" action = '/schedule_preferences'> 
                <input class = "w3-btn w3-black" type = "submit" value = "Create Schedule">
            </form>
        </header>
        {% for a in aas_data %}
            <p>{{a.title}} - {{a.description}}</p>
        {% endfor %}
        <script>
            {% if messages %}
                {% for message in messages %}
                    alert('{{message}}')
                {% endfor %}
            {% endif %}
        </script>
	</body>
</html>