<!doctype html>
<html lang="en">
	<head>
    <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% load static %}
		<link rel="shortcut icon" href= {% static 'csun_calendar/images/csun.png' %} type="image/png"/>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ropa+Sans">

		<title>Welcome! CSUN Computer Science Course Planner</title>

		<style>
			p {
				font-family: 'Ropa Sans', sans-serif;
			}
		</style>
	</head>
	<body>
        <header class="w3-container w3-red">
            <h1 style = "font-family: 'Ropa Sans', sans-serif; display: inline-block;">GPA - Keep Track of Your Grades</h1>
            <form style = "margin-top: 20px; float: right; vertical-align: top" action = '/logout'> 
                <input class = "w3-btn w3-black" type = "submit" value = "Log Out">
            </form>            

            <form style = "margin-top: 20px; margin-right: 10px; float: right; vertical-align: top" action = '/gpa'> 
                <input class = "w3-btn w3-black" type = "submit" value = "GPA">
            </form>

            <form style = "margin-top: 20px; margin-right: 10px; float: right; vertical-align: top" action = '/dashboard'> 
                <input class = "w3-btn w3-black" type = "submit" value = "Dashboard">
            </form>
        </header>

        <div class = 'w3-container'>
            <div class = 'w3-display-left w3-container' style = "border: 2px solid black; height: 380px; width: 380px; margin-top: 50px;">
                <h3>{{y}} - Fall</h3>
                {% for t in y1_s1 %}
                    <ul>
                        <li><p>{{t.subject}} {{t.catalog_number}} - {{t.title}}</p></li>
                    </ul>
                {% endfor %}
            </div>

            <div class = 'w3-display-middle w3-container' style = "border: 2px solid black; height: 380px; width: 380px; margin-top: 50px;">
                <h3>{{y}} - Spring</h3>
                {% for t in y1_s2 %}
                    <ul>
                        <li><p>{{t.subject}} {{t.catalog_number}} - {{t.title}}</p></li>
                    </ul>
                {% endfor %}
            </div>

            <div class = 'w3-display-right w3-container' style = "border: 2px solid black; height: 380px; width: 380px; margin-top: 50px;">
                <h3>{{y}} - Summer</h3>
                {% for t in y1_summer %}
                    <ul>
                        <li><p>{{t.subject}} {{t.catalog_number}} - {{t.title}}</p></li>
                    </ul>
                {% endfor %}
            </div>

            <div class = 'w3-display-left w3-container' style = "border: 2px solid black; margin-top: 450px; height: 380px; width: 380px;">
                <h3>{{y|add:"1"}} - Fall</h3>
                {% for t in y2_s1 %}
                    <ul>
                        <li><p>{{t.subject}} {{t.catalog_number}} - {{t.title}}</p></li>
                    </ul>
                {% endfor %}
            </div>

            <div class = 'w3-display-middle w3-container' style = "border: 2px solid black; margin-top: 450px; height: 380px; width: 380px;">
                <h3>{{y|add:"1"}} - Spring</h3>
                {% for t in y2_s2 %}
                    <ul>
                        <li><p>{{t.subject}} {{t.catalog_number}} - {{t.title}}</p></li>
                    </ul>
                {% endfor %}
            </div>

            <div class = 'w3-display-right w3-container' style = "border: 2px solid black; margin-top: 450px; height: 380px; width: 380px;">
                <h3>{{y|add:"1"}} - Summer</h3>
                {% for t in y2_summer %}
                    <ul>
                        <li><p>{{t.subject}} {{t.catalog_number}} - {{t.title}}</p></li>
                    </ul>
                {% endfor %}
            </div>

            <div class = 'w3-display-left w3-container' style = "border: 2px solid black; margin-top: 850px; height: 380px; width: 380px;">
                <h3>{{y|add:"2"}} - Fall</h3>
                {% for t in y3_s1 %}
                    <ul>
                        <li><p>{{t.subject}} {{t.catalog_number}} - {{t.title}}</p></li>
                    </ul>
                {% endfor %}
            </div>

            <div class = 'w3-display-middle w3-container' style = "border: 2px solid black; margin-top: 850px; height: 380px; width: 380px;">
                <h3>{{y|add:"2"}} - Spring</h3>
                {% for t in y3_s2 %}
                    <ul>
                        <li><p>{{t.subject}} {{t.catalog_number}} - {{t.title}}</p></li>
                    </ul>
                {% endfor %}
            </div>

            <div class = 'w3-display-right w3-container' style = "border: 2px solid black; margin-top: 850px; height: 380px; width: 380px;">
                <h3>{{y|add:"2"}} - Summer</h3>
                {% for t in y3_summer %}
                    <ul>
                        <li><p>{{t.subject}} {{t.catalog_number}} - {{t.title}}</p></li>
                    </ul>
                {% endfor %}
            </div>

            <div class = 'w3-display-left w3-container' style = "border: 2px solid black; margin-top: 1250px; height: 380px; width: 380px;">
                <h3>{{y|add:"3"}} - Fall</h3>
                {% for t in y4_s1 %}
                    <ul>
                        <li><p>{{t.subject}} {{t.catalog_number}} - {{t.title}}</p></li>
                    </ul>
                {% endfor %}
            </div>

            <div class = 'w3-display-middle w3-container' style = "border: 2px solid black; margin-top: 1250px; height: 380px; width: 380px;">
                <h3>{{y|add:"3"}} - Spring</h3>
                {% for t in y4_s2 %}
                    <ul>
                        <li><p>{{t.subject}} {{t.catalog_number}} - {{t.title}}</p></li>
                    </ul>
                {% endfor %}
            </div>

            <div class = 'w3-display-right w3-container' style = "border: 2px solid black; margin-top: 1250px; height: 380px; width: 380px;">
                <h3>{{y|add:"3"}} - Summer</h3>
                {% for t in y4_summer %}
                    <ul>
                        <li><p>{{t.subject}} {{t.catalog_number}} - {{t.title}}</p></li>
                    </ul>
                {% endfor %}
            </div>
        </div>
        <script>
            {% if messages %}
                {% for message in messages %}
                    alert('{{message}}')
                {% endfor %}
            {% endif %}
        </script>
	</body>
</html>