<!doctype html>
<html lang="en">
	<head>
    <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% load static %}
		<link rel="shortcut icon" href= {% static 'csun_calendar/images/csun.png' %} type="image/png"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ropa+Sans">

		<title>Welcome! CSUN Computer Science Course Planner</title>

		<style>
			p {
				font-family: 'Ropa Sans', sans-serif;
			}
            [data-tooltip] {
                position: relative;
                z-index: 2;
                cursor: pointer;
            }

            /* Hide the tooltip content by default */
            [data-tooltip]:before,
            [data-tooltip]:after {
                visibility: hidden;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
                opacity: 0;
                pointer-events: none;
            }

            /* Position tooltip above the element */
            [data-tooltip]:before {
                position: absolute;
                bottom: 150%;
                left: 50%;
                margin-bottom: 5px;
                margin-left: -80px;
                padding: 7px;
                width: 160px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                background-color: #000;
                background-color: hsla(0, 0%, 20%, 0.9);
                color: #fff;
                content: attr(data-tooltip);
                text-align: center;
                font-size: 14px;
                line-height: 1.2;
            }

            /* Triangle hack to make tooltip look like a speech bubble */
            [data-tooltip]:after {
                position: absolute;
                bottom: 150%;
                left: 50%;
                margin-left: -5px;
                width: 0;
                border-top: 5px solid #000;
                border-top: 5px solid hsla(0, 0%, 20%, 0.9);
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                content: " ";
                font-size: 0;
                line-height: 0;
            }

            /* Show tooltip content on hover */
            [data-tooltip]:hover:before,
            [data-tooltip]:hover:after {
                visibility: visible;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
                opacity: 1;
            }
		</style>
	</head>
	<body>
        <header class="w3-container w3-red"><h1 style = "display: inline-block; font-family: 'Ropa Sans', sans-serif">Create Your Undergrad Schedule</h1>
            <form style = "margin-top: 20px; float: right; vertical-align: top" action = '/logout'> 
                <input class = "w3-btn w3-black" type = "submit" value = "Log Out">
            </form>            

            <form style = "margin-top: 20px; margin-right: 10px; float: right; vertical-align: top" action = '/dashboard'> 
                <input class = "w3-btn w3-black" type = "submit" value = "Back to Dashboard">
            </form>
        </header>

        <div class = "w3-container">
            <form id = "basic_skills" action = '/schedule_lifelong_learning'> 
                <div class = "w3-container w3-panel w3-card-4" style = "margin-left: 50px; margin-top: 50px; width: 900px; padding-bottom: 20px;">
                    <h1 style = "border-bottom: 2px solid black;">Social Sciences - 6 Units</h1>
                    <button style = "display: block; margin-bottom: 10px;" type="button" class="btn btn-danger" data-toggle="collapse" data-target="#Social_Sciences">Social Sciences</button>
                    <div id = "Social_Sciences" class = "w3-container collapse" style = "padding-bottom: 10px;">
                        {% for c in aas_data %}
                            {% if c.catalog_number == '210' or c.catalog_number == '350' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in afrs_data %}
                            {% if c.catalog_number == '201' or c.catalog_number == '220' or c.catalog_number == '221' or c.catalog_number == '222' or c.catalog_number == '361' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in ais_data %}
                            {% if c.catalog_number == '222' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in anth_data %}
                            {% if c.catalog_number == '150' or c.catalog_number == '151' or c.catalog_number == '152' or c.catalog_number == '153' or c.catalog_number == '212' or c.catalog_number == '250' or c.catalog_number == '262' or c.catalog_number == '302' or c.catalog_number == '305' or c.catalog_number == '319' or c.catalog_number == '341' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in cadv_data %}
                            {% if c.catalog_number == '150' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in cas_data %}
                            {% if c.catalog_number == '309' or c.catalog_number == '310' or c.catalog_number == '368' or c.catalog_number == '369' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in chs_data %}
                            {% if c.catalog_number == '345' or c.catalog_number == '346' or c.catalog_number == '361' or c.catalog_number == '366' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in econ_data %}
                            {% if c.catalog_number == '101' or c.catalog_number == '156' or c.catalog_number == '160' or c.catalog_number == '161' or c.catalog_number == '310' or c.catalog_number == '311' or c.catalog_number == '360' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in geog_data %}
                            {% if c.catalog_number == '107' or c.catalog_number == '150' or c.catalog_number == '170' or c.catalog_number == '301' or c.catalog_number == '321' or c.catalog_number == '330' or c.catalog_number == '350' or c.catalog_number == '351' or c.catalog_number == '370' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in gws_data %}
                            {% if c.catalog_number == '220' or c.catalog_number == '222' or c.catalog_number == '320' or c.catalog_number == '340' or c.catalog_number == '370' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in hhd_data %}
                            {% if c.catalog_number == '185' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in hist_data %}
                            {% if c.catalog_number == '110' or c.catalog_number == '111' or c.catalog_number == '305' or c.catalog_number == '341' or c.catalog_number == '342' or c.catalog_number == '350' or c.catalog_number == '380' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in hsci_data %}
                            {% if c.catalog_number == '132' or c.catalog_number == '345' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in js_data %}
                            {% if c.catalog_number == '318' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in mkt_data %}
                            {% if c.catalog_number == '350' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in pols_data %}
                            {% if c.catalog_number == '156' or c.catalog_number == '225' or c.catalog_number == '310' or c.catalog_number == '350' or c.catalog_number == '380' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in psy_data %}
                            {% if c.catalog_number == '150' or c.catalog_number == '200' or c.catalog_number == '312' or c.catalog_number == '352' or c.catalog_number == '365' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in rs_data %}
                            {% if c.catalog_number == '240' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in soc_data %}
                            {% if c.catalog_number == '150' or c.catalog_number == '200' or c.catalog_number == '305' or c.catalog_number == '324' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in sust_data %}
                            {% if c.catalog_number == '300' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                        {% for c in urbs_data %}
                            {% if c.catalog_number == '150' or c.catalog_number == '310' or c.catalog_number == '380' %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_list" value = "{{c.subject}}+ ' ' +{{c.catalog_number}}" data-units = '{{c.units}}'><p style = "display: inline-block;" data-tooltip = "{{c.description}}" >{{c.subject}} {{c.catalog_number}} - {{c.title}}. {{c.units}} Units.</p><br>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <input id = "next" class = "w3-btn w3-black" style = "float: right;" type = "submit" value = "Next">
                </div>

            </form>
        </div>

	    <script>
			{% if messages %}
				{% for message in messages %}
					alert('{{message}}')
				{% endfor %}
			{% endif %}
        </script>
        
        <script>
            $(document).ready(function() {
                $("#next").attr('disabled', 'disabled');
                $('.w3-check').click(function() {
                    var sum = 0;
                    $('.w3-check:checked').each(function() {
                        if(sum < 6) {
                            $('.w3-check:not(:checked)').each(function() {
                                $(this).removeAttr('disabled');
                                $("#next").attr('disabled', 'disabled');
                            });
                        };
                        sum += parseInt($(this).data("units"));
                        if(sum == 6) {
                            $('.w3-check:not(:checked)').each(function() {
                               $("#next").removeAttr('disabled');
                            });
                        };
                        if(sum > 12) {
                            alert('Maybe you chose too many from this GE section...');
                            $("#next").attr('disabled', 'disabled');
                        };
                    }).change(function() {
                        sum -= parseInt($(this).data("units"));
                    });
                    console.log(sum);
                });
            });
        </script>
	</body>
</html>

