<!doctype html>
<html lang="en">
	<head>
    <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% load static %}
		<link rel="shortcut icon" href= {% static 'csun_calendar/images/csun.png' %} type="image/png"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ropa+Sans">

		<title>Welcome! CSUN Computer Science Course Planner</title>

		<style>
			p {
				font-family: 'Ropa Sans', sans-serif;
			}
            [data-tooltip] {
                position: relative;
                z-index: 2;
                cursor: pointer;
            }

            /* Hide the tooltip content by default */
            [data-tooltip]:before,
            [data-tooltip]:after {
                visibility: hidden;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
                opacity: 0;
                pointer-events: none;
            }

            /* Position tooltip above the element */
            [data-tooltip]:before {
                position: absolute;
                bottom: 150%;
                left: 50%;
                margin-bottom: 5px;
                margin-left: -80px;
                padding: 7px;
                width: 160px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                background-color: #000;
                background-color: hsla(0, 0%, 20%, 0.9);
                color: #fff;
                content: attr(data-tooltip);
                text-align: center;
                font-size: 14px;
                line-height: 1.2;
            }

            /* Triangle hack to make tooltip look like a speech bubble */
            [data-tooltip]:after {
                position: absolute;
                bottom: 150%;
                left: 50%;
                margin-left: -5px;
                width: 0;
                border-top: 5px solid #000;
                border-top: 5px solid hsla(0, 0%, 20%, 0.9);
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                content: " ";
                font-size: 0;
                line-height: 0;
            }

            /* Show tooltip content on hover */
            [data-tooltip]:hover:before,
            [data-tooltip]:hover:after {
                visibility: visible;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
                opacity: 1;
            }

            .center {
                margin: auto;
                width: 60%;
                padding: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            .hideform {
                display: none;
            }
		</style>
	</head>
	<body>
        <header class="w3-container w3-red"><h1 style = "display: inline-block; font-family: 'Ropa Sans', sans-serif">Create Your Undergrad Schedule</h1>
            <form style = "margin-top: 20px; float: right; vertical-align: top" action = '/logout'> 
                <input class = "w3-btn w3-black" type = "submit" value = "Log Out">
            </form>            

            <form style = "margin-top: 20px; margin-right: 10px; float: right; vertical-align: top" action = '/dashboard'> 
                <input class = "w3-btn w3-black" type = "submit" value = "Back to Dashboard">
            </form>
        </header>

        <h1>Create Schedule for Each Semester</h1>

        <button onclick="document.getElementById('id01').style.display='block'" class="w3-display-topmiddle w3-btn w3-black w3-large" style = "margin-top: 140px; margin-bottom: 30px;">Select Semester and Add Courses</button>

        <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="width:100%; height: 95%;">
            
                <div class="w3-center"><br>
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                </div>
                
                <div class = 'w3-container'>
                    <form action = '/process_schedule' method = 'POST'>
                        {% csrf_token %}
                        <p>Select Year and Semester: <select name = 'year'>
                            {% if current == y1_s1 %}
                                <option value = "y1_s1">{{y}} - Fall</option>
                            {% elif current == y1_s2 %}
                                <option value = "y1_s2">{{y}} - Spring</option>
                            {% elif current == y2_s1 %}
                                <option value = "y2_s1">{{y|add:"1"}} - Fall</option>
                            {% elif current == y2_s2 %}
                                <option value = "y2_s2">{{y|add:"1"}} - Spring</option>
                            {% elif current == y3_s1 %}
                                <option value = "y3_s1">{{y|add:"2"}} - Fall</option>
                            {% elif current == y3_s2 %}
                                <option value = "y3_s2">{{y|add:"2"}} - Spring</option>
                            {% elif current == y4_s1 %}
                                <option value = "y4_s1">{{y|add:"3"}} - Fall</option>
                            {% elif current == y4_s2 %}
                                <option value = "y4_s2">{{y|add:"3"}} - Spring</option>
                            {% endif %}
                            <option value = "y1_summer">{{y}} - Summer</option>
                            <option value = "y2_summer">{{y|add:"1"}} - Summer</option>
                            <option value = "y3_summer">{{y|add:"2"}} - Summer</option>
                            <option value = "y4_summer">{{y|add:"3"}} - Summer</option>
                        </select></p>
                        <div class = 'w3-container w3-display-left' style = "border: 2px solid black; max-width: 420px; height: 400px; max-height: 400px; overflow-y: scroll; overflow-x: scroll;">
                            <h3>General Requirements</h3>
                            {% for p in request.session.user.ge_list %}
                                <input id = "ge_item" style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_requirements" value = "{{p}}" data-value = "{{p.units}}"><p style = "display: inline-block;" data-tooltip = "{{p.description}}" >{{p.subject}} {{p.catalog_number}} - {{p.title}}. {{p.units}} Units. </p><br>
                            {% endfor %}
                        </div>

                        <div class = 'w3-container w3-display-middle' style = "border: 2px solid black; width: 440px; height: 400px; max-height: 400px; overflow-y: scroll;">
                            <h3>Major Requirements</h3>
                            {% for p in to_show_list %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_requirements" value = "{{p}}" data-value = "{{p.units}}"><p style = "display: inline-block;" data-tooltip = "{{p.description}}" >{{p.subject}} {{p.catalog_number}} - {{p.title}}. {{p.units}} Units. </p><br>
                            {% endfor %}
                            {% for t in request.session.user.major_list %}
                                <input style = "margin-bottom: 5px; padding-bottom: 5px;" class = "w3-check" type = "checkbox" name = "general_requirements" value = "{{t}}" data-value = "disabled"><p style = "display: inline-block; color: lightcoral;" data-tooltip = "{{t.description}}">{{t.subject}} {{t.catalog_number}} - {{t.title}}. {{t.units}} Units. </p><br>
                            {% endfor %}
                        </div>

                        <div class = 'w3-container w3-display-right' style = "border: 2px solid black; width: 350px; height: 400px; max-height: 400px; overflow-y: scroll;">
                            <h3>Major Electives</h3>
                                {% for t in to_show_elective %}
                                    <input id = "elective_item" style = "margin-bottom: 5px; padding-bottom: 5px;" class = "item_disabled w3-check" type = "checkbox" name = "general_requirements" value = "{{t}}" data-value = "{{t.units}}" data-type = "elective"><p style = "display: inline-block;" data-tooltip = "{{t.description}}" >{{t.subject}} {{t.catalog_number}} - {{t.title}}. {{t.units}} Units. </p><br>
                                {% endfor %}
                                {% for p in not_show_elective %}
                                    <input id = "elective_item" style = "margin-bottom: 5px; padding-bottom: 5px;" class = "item_disabled w3-check" type = "checkbox" name = "general_requirements" value = "{{p}}" data-value = "disabled"><p style = "display: inline-block; color: lightcoral;" data-tooltip = "{{p.description}}" disabled>{{p.subject}} {{p.catalog_number}} - {{p.title}}. {{p.units}} Units. </p><br>
                                {% endfor %}
                                {% for q in added_elective %}
                                    <input type = "hidden" class = "hidden" data-value = "{{q.units}}">
                                {% endfor %}
                        </div>
                        <input id = "next" class = "w3-btn w3-black" style = "margin-top: 430px; float: right;" type = "submit" value = "Save">
                    </form>
                </div>
            </div>
        </div>

        <div class = 'w3-container'>
            <form action = '/submit_schedule' method = 'POST'>
                {% csrf_token %}
                <div class = 'w3-display-left w3-container' style = "border: 2px solid black; height: 350px; width: 380px; margin-top: 50px;">
                    <h3>{{y}} - Fall</h3>
                    {% for t in y1_s1 %}
                        <ul>
                            <li>{{t.subject}} {{t.catalog_number}} - {{t.title}}</li>
                        </ul>
                    {% endfor %}
                </div>

                <div class = 'w3-display-middle w3-container' style = "border: 2px solid black; height: 350px; width: 380px; margin-top: 50px;">
                    <h3>{{y}} - Spring</h3>
                    {% for t in y1_s2 %}
                        <ul>
                            <li>{{t.subject}} {{t.catalog_number}} - {{t.title}}</li>
                        </ul>
                    {% endfor %}
                </div>

                <div class = 'w3-display-right w3-container' style = "border: 2px solid black; height: 350px; width: 380px; margin-top: 50px;">
                    <h3>{{y}} - Summer</h3>
                    {% for t in y1_summer %}
                        <ul>
                            <li>{{t.subject}} {{t.catalog_number}} - {{t.title}}</li>
                        </ul>
                    {% endfor %}
                </div>

                <div class = 'w3-display-left w3-container' style = "border: 2px solid black; margin-top: 450px; height: 350px; width: 380px;">
                    <h3>{{y|add:"1"}} - Fall</h3>
                    {% for t in y2_s1 %}
                        <ul>
                            <li>{{t.subject}} {{t.catalog_number}} - {{t.title}}</li>
                        </ul>
                    {% endfor %}
                </div>

                <div class = 'w3-display-middle w3-container' style = "border: 2px solid black; margin-top: 450px; height: 350px; width: 380px;">
                    <h3>{{y|add:"1"}} - Spring</h3>
                    {% for t in y2_s2 %}
                        <ul>
                            <li>{{t.subject}} {{t.catalog_number}} - {{t.title}}</li>
                        </ul>
                    {% endfor %}
                </div>

                <div class = 'w3-display-right w3-container' style = "border: 2px solid black; margin-top: 450px; height: 350px; width: 380px;">
                    <h3>{{y|add:"1"}} - Summer</h3>
                    {% for t in y2_summer %}
                        <ul>
                            <li>{{t.subject}} {{t.catalog_number}} - {{t.title}}</li>
                        </ul>
                    {% endfor %}
                </div>

                <div class = 'w3-display-left w3-container' style = "border: 2px solid black; margin-top: 850px; height: 350px; width: 380px;">
                    <h3>{{y|add:"2"}} - Fall</h3>
                    {% for t in y3_s1 %}
                        <ul>
                            <li>{{t.subject}} {{t.catalog_number}} - {{t.title}}</li>
                        </ul>
                    {% endfor %}
                </div>

                <div class = 'w3-display-middle w3-container' style = "border: 2px solid black; margin-top: 850px; height: 350px; width: 380px;">
                    <h3>{{y|add:"2"}} - Spring</h3>
                    {% for t in y3_s2 %}
                        <ul>
                            <li>{{t.subject}} {{t.catalog_number}} - {{t.title}}</li>
                        </ul>
                    {% endfor %}
                </div>

                <div class = 'w3-display-right w3-container' style = "border: 2px solid black; margin-top: 850px; height: 350px; width: 380px;">
                    <h3>{{y|add:"2"}} - Summer</h3>
                    {% for t in y3_summer %}
                        <ul>
                            <li>{{t.subject}} {{t.catalog_number}} - {{t.title}}</li>
                        </ul>
                    {% endfor %}
                </div>

                <div class = 'w3-display-left w3-container' style = "border: 2px solid black; margin-top: 1250px; height: 350px; width: 380px;">
                    <h3>{{y|add:"3"}} - Fall</h3>
                    {% for t in y4_s1 %}
                        <ul>
                            <li>{{t.subject}} {{t.catalog_number}} - {{t.title}}</li>
                        </ul>
                    {% endfor %}
                </div>

                <div class = 'w3-display-middle w3-container' style = "border: 2px solid black; margin-top: 1250px; height: 350px; width: 380px;">
                    <h3>{{y|add:"3"}} - Spring</h3>
                    {% for t in y4_s2 %}
                        <ul>
                            <li>{{t.subject}} {{t.catalog_number}} - {{t.title}}</li>
                        </ul>
                    {% endfor %}
                </div>

                <div class = 'w3-display-right w3-container' style = "border: 2px solid black; margin-top: 1250px; height: 350px; width: 380px;">
                    <h3>{{y|add:"3"}} - Summer</h3>
                    {% for t in y4_summer %}
                        <ul>
                            <li>{{t.subject}} {{t.catalog_number}} - {{t.title}}</li>
                        </ul>
                    {% endfor %}
                </div>

                <input style = "float:right; margin-top: 1700px;" class = 'w3-btn w3-black' type = "submit" value = "Save">
            </form>
        </div>

	    <script>
			{% if messages %}
				{% for message in messages %}
					alert('{{message}}')
				{% endfor %}
			{% endif %}
        </script>

        <script>
            $('.w3-check').each(function() {
                if($(this).data("value") == 'disabled') {
                    $(this).attr('disabled', 'disabled')
                };
            });
        </script>

        <script>
            $('#edit_y1_s1').on('click', function () {
                $('#big_y1_s1').show();
            });

            $('#close_y1_s1').on('click', function () {
                $('#big_y1_s1').hide();
            });
        </script>

        <script>
            $(document).ready(function() {
                var elective_sum = 0;
                $('.hidden').each(function() {
                    elective_sum += parseInt($(this).data("value"));
                });

                $('.w3-check').click(function() {
                    // var new_sum = 0;
                    var sum = 0;
                    // elective_sum = new_sum + elective_sum;
                    console.log(elective_sum);
                    $('.w3-check:checked').each(function() {
                    //     if($(this).data("type") == "elective") {
                    //         new_sum += parseInt($(this).data("value"));
                    //         console.log("elective sum after click" + (new_sum + elective_sum))
                    //         elective_sum = new_sum + elective_sum;
                    //     }
                    //     $('[data-type]:not(:checked)').each(function() {
                    //         console.log($(this).data("type") == "elective")
                    //         if((elective_sum) < 15) {
                    //             if($(this).data("type") == "elective") {
                    //                 $(this).removeAttr('disabled');
                    //             }
                    //         } else {
                    //             if($(this).data("type") == "elective") {
                    //                 $(this).attr('disabled', 'disabled');
                    //             }
                    //         }
                    //     });
                        if(sum > 0 && sum <= 17) {
                            $("#next").removeAttr('disabled');
                        };
                        sum += parseInt($(this).data("value"));
                        if(sum > 17) {
                            alert("You're adding too many classes for this semester...");
                            $("#next").attr('disabled', 'disabled');
                        };
                    }).change(function() {
                        sum -= parseInt($(this).data("value"));
                        // if($(this).data("type") == "elective") {
                        //     console.log(new_sum);
                        //     new_sum -= parseInt($(this).data("value"));
                        //     console.log(new_sum);
                        //     eletive_sum = new_sum + elective_sum;
                        // }
                    });
                    console.log("sum for total is:" + sum);
                    
                });
            });
        </script>

        <!-- <script>
            $(document).ready(function() {
                $('.hidden').each(function() {
                    var elective_sum = 0;
                    elective_sum += parseInt($(this).data("value"));
                })
                console.log("elective sum is:" + elective_sum);
                $('.w3-check').click(function() {
                    var total_sum = 0;
                    var new_sum = 0;
                    $('w3-checked:checked').each(function() {
                        if(total_sum >= 0 && total_sum <=15 ) {
                            $("#next").removeAttr('disabled');
                        }
                        if($(this).data("type") == "elective") {
                            new_sum += parseInt($(this).data("value"));
                            total_sum = new_sum + elective_sum;
                        }
                        if(total_sum > 15) {
                            alert("You've selected over 15 units of electives...")
                            $("#next").attr('disabled', 'disabled');
                        }
                    }).change(function() {
                        new_sum -= parseInt($(this).data("value"));
                        total_sum = new_sum + elective_sum;
                    })
                })
            });
        </script> -->
	</body>
</html>

